# Virtual Environments
venv/

# Cocotb build directories
**/sim_build/

# Cached Pythonfiles
*__pycache__*

# Waveform files
*fst
*vcd

# Vivado
**/*.hw/
**/*.cache/
**/*.ip_user_files/
*.ip_user_files/
*.runs/
**/*.sim/
*xpr
**/*.srcs/


# Test results
*results.xml